{% extends "admin/admin_base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block link %}
    <link rel="stylesheet" href="{{ url_for('static', filename='common.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}"/>
{% endblock %}

{% block body %}
<div class="main-wrap">
    <div class="crumb-wrap">
        <div class="crumb-list">
            <button id="toggleSidebar">Switch sidebar</button>
            <a href="{{ url_for('admin_car_list') }}">Home</a> 
            <span class="crumb-step">&gt;</span>
            <span class="crumb-name">Vehicle management</span>
        </div>
    </div>

    <div class="result-wrap">
        <div class="result-title">
            <div class="result-list">
                <a href="{{ url_for('add_car') }}">添加新车辆</a>
            </div>
        </div>

        <strong>车辆总数：{{ pagination.total }}</strong>

        <div class="result-content">
            <table class="result-tab" id="carTable">
                <thead> 
                    <tr>
                        <th>ID</th>
                        <th>Make</th>
                        <th>Model</th>
                        <th>Year</th>
                        <th>Color</th>
                        <th>操作</th> 
                    </tr>
                </thead>
                <tbody>
                    {% for car in pagination.items %}
                        <tr>
                            <td>{{ car.getID() }}</td>
                            <td>{{ car.getMake() }}</td>
                            <td>{{ car.getModel() }}</td> 
                            <td>{{ car.getYear() }}</td>
                            <td>{{ car.getColor() }}</td>
                            <td>
                                <a href={{url_for('edit_car', car_id=car.getID())}}>Edit</a> 
                                <a href={{url_for('delete_car', car_id=car.getID())}}>Delete</a> 
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="list-page">
            <ul>
                {% for page_num in pagination.iter_pages() %}
                    {% if page_num %}
                        <li>
                            <a href="{{ url_for('admin_car_list', page=page_num) }}">{{ page_num }}</a>
                        </li>
                    {% else %}
                        <li><span class="ellipsis">...</span></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}