{% extends "admin/admin_base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block link %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"/>
{% endblock %}




{% block header %}

{% endblock %}




{% block body %}
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><button id="toggleSidebar">Switch Sidebar</button><a href="{{ url_for('admin.register_users') }}">Home</a>
                <span class="crumb-step">&gt;</span><span class="crumb-name">Registration Management</span></div>
        </div>

        <div class="result-wrap">
            <form name="myform" id="myform" method="post">
                <div class="result-title">
                    <div class="result-list">
                        <a href="{{ url_for('admin.add_user') }}">New registered personnel</a>
                    </div>
                </div>
            </form>
            <strong>Total {{ pagination.total }}</strong>
            <div class="result-content">
                <table class="result-tab" id="userTable">
                    <tr>
                        <th>Id</th>
                        <th>Student ID/Teacher ID</th>
                        <th>Name</th>
                        {% if identity == 2 %}
                            <th>Grade</th>
                        {% endif %}
                        <th>Registration status<i title="0 meas unregistered, 1 meas registered">℗</i></th>
                    </tr>
                    {% for u in pagination.items %}
                        <tr>
                            <td></td>
                            <td>{{ u.id_card }}</td>
                            <td>{{ u.name }}</td>
                            {% if u.grade %}
                                <td>{{ u.grade }}</td>
                            {% endif %}
                            <td>{{ u.flag }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="list-page">
                <ul>
                    {% for p in pagination.iter_pages(left_edge=1, left_current=2, right_current=2, right_edge=1) %}
                        {% if p %}
                            <li><a href="{{ url_for('admin.can_register', identity=identity, page=p) }}">{{ p }}</a>
                            </li>
                        {% else %}
                            <li><a>...</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>

        </div>
    </div>
    <script>
        const table = document.getElementById("userTable");
        const tbody = table.getElementsByTagName("tbody")[0];

        for (let i = 0; i < {{ pagination.total }}; i++) {
            const row = tbody.rows[i + 1];
            const cell = row.cells[0];
            cell.innerHTML = 30 * {{ pagination.page - 1 }} +i + 1;
        }
    </script>
{% endblock %}

